body {
    padding-top: 50px;
}
.starter-template {
    padding: 40px 15px;
    text-align: center;
}


.users{
    padding-left:5em;
}
#postchatdiv{
    position:fixed;
    bottom:0;
    width:75%;
}

.backgroundBlink{
    background: orange;
}

.notelink{
    font-size: 50px;
    color:#0099FF;
    text-underline: true;
}

.deletenote{
    font-size: 30px;
    color:#d43f3a;
    text-underline: false;
}



@media (min-width: 768px) {
    /* Pull out the header and footer */
    .masthead {
        position: fixed;
        top: 0;
    }
    .mastfoot {
        position: fixed;
        bottom: 0;
    }
    /* Start the vertical centering */
    .site-wrapper-inner {
        vertical-align: middle;
    }
    /* Handle the widths */
    .masthead,
    .mastfoot,
    .cover-container {
        width: 100%; /* Must be percentage or pixels for horizontal alignment */
    }
}

@media (min-width: 992px) {
    .masthead,
    .mastfoot,
    .cover-container {
        width: 700px;
    }
}
